li {
    margin-top: 6px;
}

.link-dark {
    text-decoration: none;
    margin-left: 2vw;
}

.card {
    padding: 0 !important;
}

.card-body {
    overflow: auto;
}

.search-result {
    overflow: auto;
}

.content {
    overflow: hidden !important;
}